
<html>
<head>
<title>Login page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>
	<h1>OTP Verification</h1>
	<hr>
	<form action="/login" method="POST"><br>
	<label>Username</label>
	<input type="text" placeholder="username" name="username"><br>
	<label>Password</label>
	<input type="text" placeholder="password" name="password"><br>
	<p>Mobile Number should be with Country code.eg.+1 647xxxxxxx</p>
	<label>Mobile No.</label>
	<input type="tel" placeholder="Mobile Number" name="number"><br>
	<input class="btn-grad" type="Submit" value="Get OTP"><br><br>
</form>
<!-- Start coding from below -->
</body>
</html>


